.cardHeader {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D0D0D066;
  padding: 0 3rem;

  span {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 2rem 0;
}

.imgContainer {
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  overflow: hidden;

  border: 3px solid #AFB1B6;
  border-radius: 15px;
}

.hasImage {
  width: 100%;

  scale: 1.8;
  top: 65px;
  position: relative;
}

.hasNoImage {
  scale: 1;
  top: 0;
  position: static;
}

.details {
  width: 100%;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 2rem;

  span {
    background-color: #AFB1B6;
    padding: 2px 10px;
    border-radius: 8px;
  }
}

.infoContainer {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.info {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.info+.info {
  border-left: 1px solid #E0E0E0;
}

.infoTitle {
  font-weight: 600;
  font-size: 1.2rem;
}

.description {
  text-align: center;

  span {
    font-weight: 600;
    font-size: 1.2rem;
  }

  p {
    margin: 1rem 0;
  }
}

.linkBuyCard {
  width: 100%;
  background-color: #D4D7DE;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-radius: 8px;

  a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
  }
}

.linkBuyCard.hasLink {
  cursor: pointer;
}

.linkBuyCard.hasNoLink {
  cursor: not-allowed;
}

.cardFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.btnClose {
  background-color: #E0E0E0;
  color: #000000;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 500;

  border: 0;
  outline: 0;

  cursor: pointer;
}

@media (min-width: 768px) {
  .cardHeader {
    height: 50px;

    span {
      font-size: 1.6rem;
    }
  }

  .badge {
    span {
      font-size: 1.2rem;
    }
  }

  .infoContainer {
    width: 350px;
  }

  .infoTitle {
    font-size: 1.3rem;
  }

  .info {
    font-size: 1.2rem;
  }

  .description {
    span {
      font-size: 1.3rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .linkBuyCard {
    a {
      font-size: 1.3rem;
    }
  }

  .btnClose {
    font-size: 1.3rem;
  }
}