.cardContainer {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;

  box-shadow: 0px 1px 4px 0px #89838370;
}

.imageContainer {
  height: 90px;
  width: auto;
  overflow: hidden;
  background-color: gray;
}

.imageContainer img {
  width: 100%;
  height: auto;
  position: relative;
  top: 0px;
  scale: 1.2;
}

.cardBody {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 10px;
}

.label {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  h3 {
    font-size: 1.2rem;
  }

  span {
    font-size: 1.2rem;
  }
}

.infoLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.infoLabel img {
  width: 20px;
  height: auto;
}

@media (min-width: 576px) {
  .imageContainer {
    height: 130px;
  }

  .imageContainer img {
    top: -20px;
  }
}

@media (min-width: 768px) {
  .cardBody {
    padding: 0 15px;
    height: 70px;
  }

  .label {
    h3 {
      font-size: 1.4rem;
      font-family: "Montserrat", serif;
    }

    span {
      font-size: 1.4rem;
    }
  }

  .infoLabel {
    span {
      font-size: 1.3rem;
    }
  }
}

@media (min-width: 1024px) {
  .imageContainer {
    height: 170px;
  }

  .cardBody {
    padding: 0 20px;
  }

  .label {
    h3 {
      font-size: 1.6rem;
    }

    span {
      font-size: 1.5rem;
    }
  }
}