.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 25px;

  border: 1px solid #ababab;
  border-radius: 36px;
}

.container div {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e1e9ef;
  outline: none;
  border: 0;
  border-radius: 50%;
}

.input {
  width: 85%;
  background-color: transparent;
  outline: none;
  border: 0;

  &::placeholder {
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  .container {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 50%;
  }
}